.grid-parent {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.current-paragraphs {
  color: orange;
  background-color: orange;
}

.other-paragraphs {
  color: lightgray;
  background-color: lightgray;
}

/* .overview p {
  font-size: 12px;
} */

.sticky-note {
  /* width: 200px;
    min-height: 200px; */
  padding: 20px;
  box-sizing: border-box;

  background: #fff59d;
  color: #333;

  box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.2);
}
