package app

import (
	"fmt"
	"github.com/mugtree/feeds/app/db"
	"slices"
)

templ WIP_TemplateHomePage(fsd []FeedSummary, signals FrontPageSignals) {
	<div data-signals:feeds-open="[]" data-signals:articles-open="[]">
		for _ , f:= range fsd {
			{{ feedUrl := fmt.Sprintf(`$feedsOpen = setOpenStatus($feedsOpen, %v); @get("/home")`, f.FeedID) }}
			<h2 data-on:click={ feedUrl }>{ f.Name } - { f.ArticleCount }</h2>
			if len(f.Articles) > 0 {
				@WIP_Inner(f, signals)
			}
		}
	</div>
	<script>
	
		function setOpenStatus(items, id) {
			return  items.includes(id) ? items.filter(x => x !== id) : [...items, id]
		}

	</script>
}

templ WIP_Inner(summary FeedSummary, signals FrontPageSignals) {
	{{
		className := "hidden"
		if slices.Contains(signals.FeedsOpen, summary.FeedID) {
			className = ""
		}
		feedID := fmt.Sprintf("feed-%v", summary.FeedID)
	}}
	<div id={ feedID } class={ className }>
		for _, a := range summary.Articles {
			@WIP_ArticleContent(a, signals)
		}
		<div>
			for i := range summary.LinksRequired {
				{{ i = i + 1 }}
				{{
					className := ""
					if summary.PageID == i {
						className = "link underline"
					} else {
						className = "link"
					}
					link := fmt.Sprintf("@get('/home/feed/%v/page/%v')", summary.FeedID, i)
				}}
				<a class={ className } data-on:click={ link }>{ i }&nbsp;</a>
			}
		</div>
	</div>
}

templ WIP_ArticleContent(a db.SelectArticlesByFeedIDWithLimitRow, signals FrontPageSignals) {
	{{ url := fmt.Sprintf(`$articlesOpen = setOpenStatus($articlesOpen, %v); @get("/home")`, a.ArticleID) }}
	{{ id := fmt.Sprintf("feed-%v-%v", a.ArticleFeedID, a.ArticleID) }}
	<div id={ id }>
		<h3 data-on:click={ url }>{ a.ArticleTitle }</h3>
	</div>
	{{
		className := "hidden"
		if slices.Contains(signals.ArticlesOpen, a.ArticleID) {
			className = ""
		}
	}}
	<div class={ className }>
		if a.ArticleContent.Valid {
			@templ.Raw(a.ArticleContent.String)
		}
	</div>
}
