package app

import (
	"encoding/json"
	"fmt"
	"github.com/mugtree/feeds/app/db"
	"github.com/starfederation/datastar-go/datastar"
)

func getArticleReadSignals(hasBeenRead bool) string {
	ea := ArticleStatus{HasBeenRead: hasBeenRead}
	articleStatusSignals, _ := json.Marshal(&ea)
	return string(articleStatusSignals)
}

templ TemplateArticlePage(td ArticlePageState) {
	<div id="article-page">
		<h2 id="article-top">{ td.FeedTitle } - { td.PageTitle }</h2>
		<ul>
			<li><b>{ td.FeedTitle }</b></li>
			<li>{ td.ArticlePublished }</li>
			<li>{ td.IsCache }</li>
			<li>
				@TemplateLikeArticle("star-value-top", td.FeedID, td.ArticleId, td.StarValue)
			</li>
		</ul>
		<section class="editor" data-signals={ getArticleReadSignals(td.ArticleHasBeenRead()) }>
			{{ /* Main content */ }}
			@templ.Raw(td.PageContent)
			{{ /* Notes */ }}
			@TemplateArticleNotes(td.MarginNotes, td.ClickableBlockCount)
		</section>
		@TemplateLikeArticle("star-value-bottom", td.FeedID, td.ArticleId, td.StarValue)
		<section>
			@TemplateToRead(td.ArticlesToRead)
			<h3 data-on-intersect="$HasBeenRead = true">Older articles</h3>
			@TemplateAlreadyRead(td.ArticlesRead)
			<hr/>
			{{ /* Show Mark a read button */ }}
			{{ setArticleReadURL := datastar.PutSSE("/article/%d/%d/set-read", td.FeedID, td.ArticleId) }}
			<button class="have-read-article" data-show="$HasBeenRead" data-on:click={ setArticleReadURL }>Mark as read</button>
			@TemplateNav(td.Sidebar)
			<p><a href="#pagetop">Back to top</a></p>
		</section>
		<script src="/public/js/feeds.js"></script>
	</div>
}

templ TemplateLikeArticle(htmlID string, feedID int64, articleID int64, starsValue int64) {
	{{ likeArticleURL := datastar.PutSSE(`/article/%v/%v/like/%v`, feedID, articleID, starsValue) }}
	{{ starsGraphic := templ.SafeURL(fmt.Sprintf("/public/img/%v-star.png", starsValue)) }}
	<div id={ htmlID } data-on:click={ likeArticleURL }>Starred: <img width="60px" src={ starsGraphic }/> </div>
}

templ TemplateArticleNotes(notes map[int64]db.MarginNote, blockCount int64) {
	<aside>
		<div>
			There are { blockCount } notes	
		</div>
		for i := range blockCount {
			{{ note, blockHasNote := notes[i] }}
			if blockHasNote {
				<p data-note-id={ i }>{ note.Note }</p>
			} else {
				<p data-note-id={ i }>blank </p>
			}
		}
	</aside>
}

templ TemplateArticleNoteAdd(articleID int64, blockID int64) {
	<div class="article-note" data-block-ref={ blockID }>
		<form>
			<textarea name="note"></textarea>
			{{ url := fmt.Sprintf(`@put("/article/%v/%v/note/add", {contentType: 'form'})`, articleID, blockID) }}
			<button data-on:click={ url }>Comment</button>
		</form>
	</div>
}

// these will likely have an id value
templ TemplateArticleNoteView(note string, blockId int64) {
	<div class="article-note" data-block-ref={ blockId }>
		{ note }
	</div>
}
