package app

import (
	"encoding/json"
	"fmt"
	"github.com/starfederation/datastar-go/datastar"
	"strings"
)

templ TemplateArticlePage(aps ArticlePageTemplateData) {
	<div id="article-page" data-signals:hideTitle="false">
		<div id="article-top">
			<h2 data-show="!$hideTitle">{ aps.FeedTitle } - { aps.PageTitle }</h2>
			<ul>
				<li><b>{ aps.FeedTitle }</b></li>
				<li>{ aps.ArticlePublished }</li>
				<li>{ aps.IsCache }</li>
				<li data-on:click="$hideTitle = !$hideTitle">Hide title?</li>
				<li>
					@TemplateLikeArticle("star-value-top", aps.FeedID, aps.ArticleId, aps.StarValue)
				</li>
			</ul>
		</div>
		{{
			ea := ArticleStatus{
				HasBeenRead:                  aps.ArticleHasBeenRead(),
				HasScrolledToBottomOfArticle: false,
			}

			articleStatusSignals, _ := json.Marshal(&ea)
		}}
		<section class="editor" data-signals={ string(articleStatusSignals) }>
			{{ /* Main content */ }}
			@templ.Raw(aps.PageContent)
			@TemplateViewComments(aps.CommentsTemplateData)
		</section>
		@TemplateLikeArticle("star-value-bottom", aps.FeedID, aps.ArticleId, aps.StarValue)
		<section>
			@TemplateToRead(aps.ArticlesToRead)
			<h3 data-on-intersect="$HasScrolledToBottomOfArticle = true">Older articles</h3>
			{{ /* If the article is unread, if the user has scrolled past this point a button will appear */ }}
			{{ setArticleReadURL := datastar.PutSSE("/article/%d/%d/set-read", aps.FeedID, aps.ArticleId) }}
			<button class="have-read-article" data-show="$HasScrolledToBottomOfArticle && !$HasBeenRead" data-on:click={ setArticleReadURL }>Mark as read</button>
			@TemplateAlreadyRead(aps.ArticlesRead)
			<hr/>
			@TemplateNav(aps.Sidebar)
			<p><a href="#pagetop">Back to top</a></p>
		</section>
		<script src="/public/js/feeds.js"></script>
	</div>
}

templ TemplateLikeArticle(htmlID string, feedID int64, articleID int64, starsValue int64) {
	{{ likeArticleURL := datastar.PutSSE(`/article/%v/%v/like/%v`, feedID, articleID, starsValue) }}
	{{ starsGraphic := templ.SafeURL(fmt.Sprintf("/public/img/%v-star.png", starsValue)) }}
	<div id={ htmlID } data-on:click={ likeArticleURL }>Starred: <img width="60px" src={ starsGraphic }/> </div>
}

templ TemplateEditComments(mns CommentsTemplateData) {
	{{ /* godump.Dump("edit", mns) */ }}
	<aside id="article-notes">
		for i := range mns.TotalCommentsCount {
			{{ note, _ := mns.Comments[i] }}
			if i == mns.NoteToEdit && mns.ShowTextArea {
				<form class="note-edit" data-note-id={ i }>
					<textarea name="note-text" data-note-id={ i }>{ note.CommentText }</textarea>
					{{ url := fmt.Sprintf("@post('/article/%v/note/write/%v', {contentType: 'form'})", mns.ArticleID, mns.NoteToEdit) }}
					<button data-on:click={ url }>Edit</button>
				</form>
			} else {
				<div data-note-id={ i } class="note-holder">
					@FormatSimpleParagraphs(note.CommentText)
				</div>
			}
		}
	</aside>
}

templ TemplateViewComments(mns CommentsTemplateData) {
	<aside id="article-notes">
		for i := range mns.TotalCommentsCount {
			{{ note, _ := mns.Comments[i] }}
			<div data-note-id={ i } class="note-holder">
				@FormatSimpleParagraphs(note.CommentText)
			</div>
		}
	</aside>
}

templ FormatSimpleParagraphs(note string) {
	{{
		parts := strings.Split(note, "\n\n")
		for i, p := range parts {
			fmt.Printf("%v - %v\n", i, p)
		}
	}}
	if len(parts) > 0 {
		for _, p := range parts {
			<p class="note">{ p }</p>
		}
	} else {
		<span></span>
	}
}
