package app

import "fmt"
import "github.com/mugtree/feeds/app/db"

type WIP_Feed struct {
	ID       int64
	Title    string
	Articles []db.Article
}

templ WIP_FeedTitles(feeds []WIP_Feed) {
	<div>
		for _, f :=range feeds {
			<h2><a href={ templ.URL(fmt.Sprintf("/grid/%v/1", f.ID)) }>{ f.Title }</a> </h2>
			if len(f.Articles) >0 {
				for _, a := range f.Articles {
					<h3><a href={ templ.URL(fmt.Sprintf("/grid")) }>{ a.Title }</a></h3>
				}
			}
		}
	</div>
}

templ WIP_TemplateHomePage(fsd []FeedSummary, signals FrontPageSignals) {
	<div data-signals:feeds-open="[]" data-signals:articles-open="[]">
		for _ , f:= range fsd {
			{{ feedUrl := fmt.Sprintf(`$feedsOpen = setOpenStatus($feedsOpen, %v); @get("/home")`, f.FeedID) }}
			<h2 data-on:click={ feedUrl }>{ f.Name } - { f.ArticleCount }</h2>
			if len(f.Articles) > 0 {
				@WIP_Inner(f)
			}
		}
	</div>
	<script>
	
		function setOpenStatus(items, id) {
			return  items.includes(id) ? items.filter(x => x !== id) : [...items, id]
		}

	</script>
}

templ WIP_Inner(summary FeedSummary) {
	// {{
	// 	className := "hidden"
	// 	if slices.Contains(signals.FeedsOpen, summary.FeedID) {
	// 		className = ""
	// 	}
	// 	feedID := fmt.Sprintf("feed-%v", summary.FeedID)
	// }}
	//<div id={ feedID }>
	<div id={ summary.FeedID }>
		for _, a := range summary.Articles {
			@WIP_ArticleContent(a)
		}
		<div>
			for i := range summary.LinksRequired {
				{{ i = i + 1 }}
				{{
					className := ""
					if summary.PageID == i {
						className = "link underline"
					} else {
						className = "link"
					}
					link := fmt.Sprintf("@get('/home/feed/%v/page/%v')", summary.FeedID, i)
				}}
				<a class={ className } data-on:click={ link }>{ i }&nbsp;</a>
			}
		</div>
	</div>
}

templ WIP_ArticleContent(a EnrichedArticle) {
	{{ url := fmt.Sprintf(`$articlesOpen = setOpenStatus($articlesOpen, %v); @get("/home")`, a.Article.ArticleID) }}
	{{ id := fmt.Sprintf("feed-%v-%v", a.Article.ArticleFeedID, a.Article.ArticleID) }}
	<div id={ id }>
		<h3 data-on:click={ url }>{ a.Article.ArticleTitle }</h3>
	</div>
	{{
		/*
			-------------------------------
			Add the layout here
		*/
	}}
	<section class="editor">
		if a.Article.ArticleContent != "" {
			@templ.Raw(a.Article.ArticleContent)
			@TemplateViewComments(a.CommentsData)
		}
	</section>
}
