package app

import (
	"encoding/json"
	"fmt"
	"github.com/goforj/godump"
	"github.com/mugtree/feeds/app/db"
	"github.com/starfederation/datastar-go/datastar"
)

templ TemplateArticlePage(td ArticlePageTemplateData) {
	<h2 id="article-top">{ td.FeedTitle } - { td.PageTitle }</h2>
	<ul>
		<li><b>{ td.FeedTitle }</b></li>
		<li>{ td.ArticlePublished }</li>
		<li>{ td.IsCache }</li>
		<li>
			@TemplateLikeArticle(td.FeedID, td.ArticleId, td.StarValue)
		</li>
	</ul>
	{{
		type endArticle struct{ endArticle bool }
		ea := endArticle{endArticle: false}
		endArticleSignals, _ := json.Marshal(ea)
	}}
	<section class="editor" data-signals={ string(endArticleSignals) }>
		<div>
			@templ.Raw(td.PageContent)
		</div>
		<div>
			@TemplateArticleNotes(td.MarginNotes, td.ClickableBlockCount)
		</div>
	</section>
	@TemplateLikeArticle(td.FeedID, td.ArticleId, td.StarValue)
	<div>
		@TemplateToRead(td.ArticlesToRead)
		<h3 data-on-intersect="$endArticle = true">Older articles</h3>
		@TemplateAlreadyRead(td.ArticlesRead)
		<hr/>
		if !td.AlreadyRead() {
			<button class="have-read-article" data-show="$endArticle" data-on:click={ datastar.PutSSE("/article/%d/%d/set-read", td.FeedID, td.ArticleId) }>Mark as read</button>
		}
		@TemplateNav(td.Sidebar)
		<p><a href="#pagetop">Back to top</a></p>
	</div>
	<script src="/public/js/feeds.js"></script>
}

templ TemplateLikeArticle(feedID int64, articleID int64, starsValue int64) {
	<div id="star-value" data-on:click={ datastar.PutSSE(`/article/%v/%v/like/%v`, feedID, articleID, starsValue) }>Starred: <img width="60px" src={ templ.SafeURL(fmt.Sprintf("/public/img/%v-star.png", starsValue)) }/> </div>
}

templ TemplateArticleNotes(notes map[int64]db.MarginNote, blockCount int64) {
	{{ godump.Dump(notes) }}
	<div>
		There are { blockCount } notes	
	</div>
	for i := range blockCount {
		{{ note, blockHasNote := notes[i] }}
		if blockHasNote {
			<div data-note-id={ i }>{ note.Note }</div>
		} else {
			<div data-note-id={ i }>blank </div>
		}
	}
}

templ TemplateArticleNoteAdd(articleID int64, blockID int64) {
	<div class="article-note" data-block-ref={ blockID }>
		<form>
			<textarea name="note"></textarea>
			{{ url := fmt.Sprintf(`@put("/article/%v/%v/note/add", {contentType: 'form'})`, articleID, blockID) }}
			<button data-on:click={ url }>Comment</button>
		</form>
	</div>
}

// these will likely have an id value
templ TemplateArticleNoteView(note string, blockId int64) {
	<div class="article-note" data-block-ref={ blockId }>
		{ note }
	</div>
}
